$color-blue: #273b83;
$color-blue-dark-0: #252c48;
$color-blue-dark-1: #222943;
$color-blue-dark-2: #202740;
$color-blue-dark-3: #1d243e;
$color-blue-dark-4: #1b223b;
$color-white-15: rgba(255, 255, 255, 0.15);
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-100: rgba(255, 255, 255, 1);

$primary: $color-blue;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.25rem;
